{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="wrapper">
            <section class="cards-section">
                <div style="font-size: 25px">
                    Компанія: {{ job.company }}<br>
                    Посада: {{ job.title }}<br>
                    {% autoescape off %}
                        Опис: {{ job.description }}<br>
                    {% endautoescape %}
                </div>
            </section>
        </div>
    </main>
{% endblock %}